.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  min-height: 100vh;
  background: #e5e5e5;
}

.title {
  font-weight: 800;
  color: "red";
}

.postSection {
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
}
